@import './variables';
@import './normalize';
@import './mixins';

.G-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.G-page {
  //width: 100%;
  //max-width: $page-width;
  //background-color: $black;
  //height: 100vh;
  //
  //@include mobile {
  //  max-width: unset;
  //}
}

.G-capitalize {
  text-transform : capitalize;
}

.G-bg-image {
  width               : 100%;
  height              : 100%;
  background-size     : cover;
  background-position : center;
  background-repeat   : no-repeat;
}

.G-circle-image {
  width         : 35px;
  min-width     : 35px;
  height        : 35px;
  border-radius : 50%;
}

.G-half {
  width : calc(50% - 20px) !important;
}

.G-text-center {
  text-align : center;
}

.G-text-left {
  text-align : left;
}

.G-text-right {
  text-align : right;
}

.G-cursor {
  cursor : pointer;
}

// #region Font Size

$fonts            : (
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  24,
  28,
);

@each $size in $fonts {
  .G-fs-#{$size} {
    font-size : #{$size + px};
  }
}


.G-btn {
  width           : 100%;
  max-width       : 350px;
  padding         : 0 30px;
  height          : $input-height;
  display         : flex;
  align-items     : center;
  justify-content : center;
  position        : relative;
  border-radius   : 4px;
  font-size       : 20px;
  font-weight     : 500;
  color           : $white;

  * {
    color : $white;
  }


  &.loading {
    > span {
      opacity : 0;
    }
  }

  &.G-small {
    font-size : 14px !important;
    padding   : 0 15px;
    height    : 30px;
  }

  &.G-smallest {
    font-size : 11px !important;
    padding   : 0 5px;
    height    : 25px;
  }

  &.G-black-btn {
    background : $black;
  }

  &.G-white-btn {
    background : $white;

    * {
      color : $black;
    }
  }

  &.G-md-btn {
    max-width : 220px;
  }

  &.G-empty {
    border     : 1px solid $main-color;
    color      : $main-color;
    background : $white;

    * {
      color : $main-color;
    }
  }
}


.G-checkbox-item {
  width            : 20px;
  height           : 20px;
  min-width        : 20px;
  min-height       : 20px;
  font-size        : 10px;
  font-weight      : bold;
  border-radius    : 3px;
  border           : 1px solid #bbbbbb;
  display          : flex;
  align-items      : center;
  justify-content  : center;
  cursor           : pointer;
  background-color : $white;
}

.G-checkbox-active {
  border           : 2px solid $main-color;
  color            : $white;
  background-color : $main-color;
}

// #endregion

// #region Radio directive

.G-radio-item {
  width           : 17px;
  height          : 17px;
  min-width       : 17px;
  min-height      : 17px;
  border-radius   : 50%;
  border          : 1px solid $main-color;
  display         : flex;
  align-items     : center;
  justify-content : center;
  position        : relative;
  cursor          : pointer;

  &.G-radio-active {

    &::before {
      content          : "";
      width            : calc(100% - 6px);
      height           : calc(100% - 6px);
      border-radius    : 50%;
      position         : absolute;
      top              : 3px;
      left             : 3px;
      background-color : $main-color;
    }
  }
}

// #endregion

// #region Modal

.G-modal {
  width            : 700px;
  padding          : 30px;
  margin           : 40px auto;
  background-color : $white;

  .G-modal-title {
    margin-bottom : 20px;
  }

  .G-modal-save-btn {
    margin-left : 20px;
  }
}

$filterItemsCount : 5;
$filterOffset     : 20px;

.G-filter-content {
  padding     : 10px 0;
  display     : flex;
  align-items : center;
  flex-wrap   : wrap;

  .G-filter-item {
    width         : calc((100% / #{$filterItemsCount}) - #{$filterOffset});
    margin-bottom : 20px;
    margin-right  : calc((#{$filterItemsCount} * #{$filterOffset}) / #{$filterItemsCount - 1});

    &:nth-child(#{$filterItemsCount}n) {
      margin-right : 0;
    }
  }

  input {
    background-color : $white;
  }
}