@import './variables';
@import './normalize';
@import './overwrite';
@import './table';

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');

.G-capitalize {
  text-transform : capitalize;
}

.G-main-color {
  color : $main-color;
}

.G-red-color {
  color : $red;
}

.G-green-color {
  color : $green;
}

.G-gray-color {
  color : $gray;
}

.G-bold {
  font-weight : bold;
}

.G-gray-dark-color {
  color : $gray-dark;
}

.G-line {
  width            : 40px;
  height           : 2px;
  background-color : $purple;
}

.G-bg-image {
  width               : 100%;
  height              : 100%;
  background-size     : cover;
  background-position : center;
  background-repeat   : no-repeat;
}

.G-circle-image {
  width         : 35px;
  min-width     : 35px;
  height        : 35px;
  border-radius : 50%;
}

.G-half {
  width : calc(50% - 20px) !important;
}

.G-text-center {
  text-align : center;
}

.G-text-left {
  text-align : left;
}

.G-text-right {
  text-align : right;
}

.G-cursor {
  cursor : pointer;
}

.G-red {
  background-color : #AF001E;
}

.G-green {
  color : #0bbf6b;
}

// #region Font Size

$fonts            : (
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  24,
  28,
);

@each $size in $fonts {
  .G-fs-#{$size} {
    font-size : #{$size + px};
  }
}

// #endregion


// #region Flex

.G-flex {
  display : flex;
}

.G-inline-flex {
  display : inline-flex;
}

.G-center {
  justify-content : center;
  align-items     : center;
}

.G-justify-start {
  justify-content : flex-start;
}

.G-justify-center {
  justify-content : center;
}

.G-justify-between {
  justify-content : space-between;
}

.G-justify-around {
  justify-content : space-around;
}

.G-justify-end {
  justify-content : flex-end;
}

.G-align-center {
  align-items : center;
}

.G-align-start {
  align-items : flex-start;
}

.G-align-end {
  align-items : flex-end;
}

.G-flex-column {
  flex-direction : column;
}

.G-flex-wrap {
  flex-wrap : wrap;
}

// #endregion

// #region Buttons

.G-btn {
  width           : 100%;
  max-width       : 350px;
  padding         : 0 30px;
  height          : $input-height;
  display         : flex;
  align-items     : center;
  justify-content : center;
  position        : relative;
  border-radius   : 4px;
  font-size       : 20px;
  font-weight     : 500;
  color           : $white;
  background      : $main-color;

  * {
    color : $white;
  }


  &.loading {
    > span {
      opacity : 0;
    }
  }

  &.G-small {
    font-size : 14px !important;
    padding   : 0 15px;
    height    : 30px;
  }

  &.G-smallest {
    font-size : 11px !important;
    padding   : 0 5px;
    height    : 25px;
  }

  &.G-black-btn {
    background : $black;
  }

  &.G-red-btn {
    background : $red;
  }

  &.G-gray-btn {
    background : $light-gray;
  }

  &.G-green-btn {
    background : $green;
  }

  &.G-white-btn {
    background : $white;

    * {
      color : $black;
    }
  }

  &.G-md-btn {
    max-width : 220px;
  }

  &.G-empty {
    border     : 1px solid $main-color;
    color      : $main-color;
    background : $white;

    * {
      color : $main-color;
    }
  }
}

// #endregion

// #region Inputs

.G-input-group {
  width         : 100%;
  margin-bottom : 20px;

  > p {
    margin-bottom : 5px;
    font-size     : 12px;
    color         : $gray
  }

  input {
    width : 100%;

    &::-webkit-input-placeholder {
      color       : $gray;
      font-weight : 500;
      font-size   : 19px;
    }
  }

  .G-input-delete-btn {
    position  : absolute;
    cursor    : pointer;
    right     : 0;
    bottom    : -20px;
    font-size : 12px;
    color     : $main-color;
  }
}

.G-error {
  border-color : $red !important;
}

.G-main-container {
  margin-top : 140px;
}

.G-title {
  h3 {
    font           : Bold 26px/33px PT Sans;
    letter-spacing : 0;
    color          : #141414;
    opacity        : 1;
  }

}

.G-input-col-2, .G-input-col-3 {
  display   : flex;
  flex-wrap : wrap;
}

.G-input-col-2 {

  .G-input-group {
    width        : calc(100% / 2 - 30px);
    margin-right : 60px;

    &:nth-child(2n) {
      margin-right : 0;
    }
  }
}

.G-input-col-3 {

  .G-input-group {
    width        : calc(100% / 3 - 40px);
    margin-right : 60px;

    &:nth-child(3n) {
      margin-right : 0;
    }
  }
}

// #endregion

// #region Toolbar

.G-tc-toolbar {
  position  : absolute;
  right     : 0;
  top       : 50%;
  transform : translateY(-50%);
  z-index   : 1;
}

.G-toolbar-item {
  padding     : 3px 10px !important;
  white-space : nowrap;
  cursor      : pointer;

  &:hover {
    background-color : $light;
  }
}

// #endregion

// #region Sections

.G-block {
  width            : 100%;
  padding          : 20px;
  border-radius    : $radius;
  box-shadow       : $shadow;
  background-color : $white;
}

.G-block-title {
  margin-bottom : 30px;
  font-size     : 16px;
  font-weight   : bold;
}

// #endregion

// #region Checkbox directive

.G-checkbox-item {
  width            : 20px;
  height           : 20px;
  min-width        : 20px;
  min-height       : 20px;
  font-size        : 10px;
  font-weight      : bold;
  border-radius    : 3px;
  border           : 1px solid #bbbbbb;
  display          : flex;
  align-items      : center;
  justify-content  : center;
  cursor           : pointer;
  background-color : $white;
}

.G-checkbox-active {
  border           : 2px solid $main-color;
  color            : $white;
  background-color : $main-color;
}

// #endregion

// #region Radio directive

.G-radio-item {
  width           : 17px;
  height          : 17px;
  min-width       : 17px;
  min-height      : 17px;
  border-radius   : 50%;
  border          : 1px solid $main-color;
  display         : flex;
  align-items     : center;
  justify-content : center;
  position        : relative;
  cursor          : pointer;

  &.G-radio-active {

    &::before {
      content          : "";
      width            : calc(100% - 6px);
      height           : calc(100% - 6px);
      border-radius    : 50%;
      position         : absolute;
      top              : 3px;
      left             : 3px;
      background-color : $main-color;
    }
  }
}

// #endregion

// #region Modal

.G-modal {
  width            : 700px;
  padding          : 30px;
  margin           : 40px auto;
  background-color : $white;

  .G-modal-title {
    margin-bottom : 20px;
  }

  .G-modal-save-btn {
    margin-left : 20px;
  }
}

.G-right-modal {
  height           : 100%;
  background-color : $light;

  .G-right-modal-header {
    padding          : 5px 20px;
    box-shadow       : $shadow;
    display          : flex;
    align-items      : center;
    justify-content  : space-between;
    background-color : $white;
  }

  .G-right-modal-content {
    padding    : 20px 20px 100px;
    height     : calc(100% - 50px);
    overflow-x : auto;

    .G-content-center {
      margin : 0 auto;
    }
  }
}

.G-confirm-modal {
  padding   : 30px;
  min-width : 500px;

  input, textarea {
    margin : 20px 0;
  }
}

// #endregion

// #region Filter

$filterItemsCount : 5;
$filterOffset     : 20px;

.G-filter-content {
  padding     : 10px 0;
  display     : flex;
  align-items : center;
  flex-wrap   : wrap;

  .G-filter-item {
    width         : calc((100% / #{$filterItemsCount}) - #{$filterOffset});
    margin-bottom : 20px;
    margin-right  : calc((#{$filterItemsCount} * #{$filterOffset}) / #{$filterItemsCount - 1});

    &:nth-child(#{$filterItemsCount}n) {
      margin-right : 0;
    }
  }

  input {
    background-color : $white;
  }
}

// #endregion

// #region Page

.G-page {
  width       : calc(100% - #{$left-side-width});
  min-height  : 100vh;
  padding     : calc(#{$header-height} + 40px) 60px 40px;
  position    : relative;
  transition  : all $left-side-transition;
  margin-left : $left-side-width;
}

.G-big {
  width       : calc(100% - #{$left-side-closed-width});
  margin-left : $left-side-closed-width;
}

.G-container {
  width   : 100%;
  padding : 0 $padding;
}

.G-cover {
  padding-top : $header-height;
}

// #endregion

// #region Margins

.G-mb-1 {
  margin-bottom : 10px;
}

.G-mb-2 {
  margin-bottom : 20px;
}

.G-mb-3 {
  margin-bottom : 30px;
}

.G-mb-4 {
  margin-bottom : 40px;
}

.G-mb-5 {
  margin-bottom : 50px;
}

.G-mb-6 {
  margin-bottom : 60px;
}

.G-mb-7 {
  margin-bottom : 70px;
}

.G-mb-8 {
  margin-bottom : 80px;
}

.G-mb-9 {
  margin-bottom : 90px;
}

.G-mb-10 {
  margin-bottom : 100px;
}

.G-mt-1 {
  margin-top : 10px;
}

.G-mt-2 {
  margin-top : 20px;
}

.G-mt-3 {
  margin-top : 30px;
}

.G-mt-4 {
  margin-top : 40px;
}

.G-mt-5 {
  margin-top : 50px;
}

.G-mt-6 {
  margin-top : 60px;
}

.G-mt-7 {
  margin-top : 70px;
}

.G-mt-8 {
  margin-top : 80px;
}

.G-mt-9 {
  margin-top : 90px;
}

.G-mt-10 {
  margin-top : 100px;
}

.G-mr-1 {
  margin-right : 10px;
}

.G-mr-2 {
  margin-right : 20px;
}

.G-mr-3 {
  margin-right : 30px;
}

.G-mr-4 {
  margin-right : 40px;
}

.G-mr-5 {
  margin-right : 50px;
}

.G-mr-6 {
  margin-right : 60px;
}

.G-ml-1 {
  margin-left : 10px;
}

.G-ml-2 {
  margin-left : 20px;
}

.G-ml-3 {
  margin-left : 30px;
}

.G-ml-4 {
  margin-left : 40px;
}

.G-ml-5 {
  margin-left : 50px;
}

.G-ml-6 {
  margin-left : 60px;
}

.G-arrow-down-sm {
  border       : $black solid;
  border-width : 0 1px 1px 0;
  display      : inline-block;
  padding      : 2px;
  margin-left  : 16px;
}

.G-arrow-down-md {
  border       : $black solid;
  border-width : 0 1px 1px 0;
  display      : inline-block;
  padding      : 4px;
  margin-left  : 16px;
}

.G-arrow-down {
  transform         : rotate(45deg);
  -webkit-transform : rotate(45deg);
}

// #endregion
