/* You can add HTML default tag styles */

@font-face {
  font-family : 'Agenda';
  src         : url('../fonts/font/ufonts.com_agenda-mediumcondensed.ttf');
}

* {
  margin      : 0;
  padding     : 0;
  color       : $black;
  box-sizing  : border-box;
  outline     : 0;
  font-family : 'Agenda', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior : smooth;
}

body {
  font-size        : 16px;
  color            : $black;
  min-height       : 100vh;
  min-width        : 1024px;
  background-color : $body-color;

  a {
    color           : $black;
    text-decoration : none;

    &:hover {
      color : $black;
    }
  }
}

textarea, input, button, pre {
  font-size : 16px;
  outline   : none !important;
}

input {
  height           : $input-height;
  border           : 1px solid $light-gray;
  text-indent      : 10px;
  background-color : transparent;
  color            : $black;
  border-radius    : 4px;
}

textarea {
  width       : 100%;
  height      : calc(#{$input-height} + 10px);
  border      : 1px solid $light-gray;
  max-height  : 400px;
  min-height  : calc(#{$input-height} + 40px);
  padding     : 10px;
  text-indent : 0;
  resize      : vertical;
}

pre {
  white-space : pre-wrap;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  margin     : 0;
  appearance : none;
}

input[type=file] {
  display : none;
}

i[class*=icon] {
  cursor : pointer;
}

.icon-delete {
  color : $red;
}

a, button, label {
  cursor : pointer;
}

button {
  border           : 0;
  background-color : transparent;
}

h1 {
  font-size : 40px;
}

h2 {
  font-size : 32px;
}

h3 {
  font-size : 28px;
}

h4 {
  font-size : 24px;
}

h5 {
  font-size : 22px;
}

h6 {
  font-size : 18px;
}

a, p {
  font-size : 16px;
}

*::-webkit-scrollbar-track, *::-ms-autohiding-scrollbar {
  border-radius    : 2px;
  background-color : $light;
}

*::-webkit-scrollbar {
  width            : 4px;
  height           : 8px;
  background-color : $light;
}

*::-webkit-scrollbar-thumb {
  border-radius    : 4px;
  background-color : grey;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance : none;
  -moz-appearance    : none;
  appearance         : none;
}
