
// #region Colors
$black        : #000000;
$white        : #ffffff;
$gray-dark    : #232528;
$gray-middle    : #374151;
$gray-light   : #9CA3AF;
$blue         : #0038C7;
$body-color : rgba(0, 0, 0, 0.28);
$main-color : $gray-middle;


$input-height : 42px;

// #endregion
$page-width: 400px;
$mobile-width: 600px;
$tablet-width: 768px;
$desktop-width: 1024px;
$TV-width: 1440px;
